/* .galeriaGrid {
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.imgGrid {
    background-color: purple;
    color: aliceblue;
}

.galeriaGrid div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* media query */
@media screen and (max-width: 1000px) {
    .portada{
        flex-direction: column;
    }
    .nosotrosContenedor {
        flex-direction: column;
    }
    .nosotrosContenedor p{
        font-size: x-large;
        font-weight: 400;
    }
}
@media screen and (max-width: 700px){
    header nav div {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    header nav ul li {
        width: fit-content;
        height: fit-content;
    }
    header nav ul li a i{
        font-size: x-large;
    }
    header nav ul li a p{
        display: none;
    }
    .portada p{
        font-size: x-large;
    }
}
/* 

@media screen and (max-width: 500px) {
    header {
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    .experiencias section {
        flex-direction: column;
    }

    .experiencias section div h3 {
        margin-bottom: 5px;
    }

    .experiencias section div {
        margin-bottom: 15px;
    }

    .accordion-body p {
        font-size: medium;
    }

    .informacionContacto {
        flex-direction: column;
    }

    footer .divSuperior div .primerP {
        display: none;
    }

    footer .divSuperior div {
        font-size: x-large;
    }

    footer .divSuperior ul li {
        font-size: larger;
    }

    footer .divSuperior ul li i {
        display: none;
    }
} */
