@import "../base/variables";
footer{
    grid-area: footer;
    background-image: url(../img/Portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 5px;
    font-size: medium;
    font-weight: bold;
    .divSuperior{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        padding-top: 20px;
        background-color: $color-fondocontenedores;
        height: fit-content;
        padding-bottom: 10px;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                text-decoration: none;
                color: black;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        ul{
            li{
                list-style-type: none;
            }
        }
    }
    .divCopy{
        text-align: center;
        margin-top: 10px;
        font-size: smaller;
    }
}