@import "./variables";

.informacionContacto{
    @include flex (flex, space-around, wrap, row);
    margin-top: 20px;
    margin-bottom: 20px;
    ul{
        list-style-type: none;
    }
    form{
        @include flex (flex, space-around, wrap, column);
        input{
            background-color:$color-secundario;
            outline: none;
            &:focus{
                border: 2px solid orange;
            }
        }
        textarea{
            background-color:$color-secundario;
            outline: none;
            &:focus{
                border: 2px solid orange;
            }
        }
    }
}