.informacionContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    ul{
        list-style-type: none;
    }
    form{
        background-color:#ffbd596c;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input{
            outline: none;
            &:focus{
                border: 2px solid orange;
            }
        }
        textarea{
            outline: none;
            &:focus{
                border: 2px solid orange;
            }
        }
    }
}