@import "./variables";
.portada{
        background-image: url(../img/Portada.jpg);
        background-size: cover;
        background-attachment: fixed;
        @include align (flex, center, row);
        margin-top: 20px;
    img{
        width: 100%;
        height: 100%;
    }
    p{
        background-color: $color-fondocontenedores ;
        height: fit-content;
        padding: 30px;
        font-weight: bolder;
        font-size: large;
    }
}
.divExperiencias{
    @include flex (flex, space-around, row wrap,row);
div{
width: 202px;
height: 250px;
border: 1px solid;
text-align: center;
font-weight: bold;
font-size: medium;
box-shadow: 10px 10px 38px -9px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: 10px 10px 38px -9px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 10px 10px 38px -9px rgba(0, 0, 0, 0.75);
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
transition: all 1s ease;
&:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: black;
    img{
        width: 200px;
        height: 200px;
    }
}
}
}
.creaciones{
    h2 {
        margin-bottom: 20px;
    }
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    box-sizing: border-box;
	gap: 10px;
    .img-2{
        grid-row: span 2;
    }
}
.container{
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}